In [1]:
## 2) Crear un vector de ceros de tamaño 10
import numpy as np
vector_zeros = np.zeros(10)
vector_zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [2]:
## 3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1
vector_zeros_un_uno = np.zeros(10)
vector_zeros_un_uno[4]=1
vector_zeros_un_uno

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [3]:
## 4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.
vector_ordenado = np.arange(50)
vector_invertido = vector_ordenado[::-1]
vector_invertido

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [ ]:
## 5) Crear una matriz de 3 x 3 con valores del cero al 8

In [4]:
matriz = np.arange(9).reshape(3,3)
matriz

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
## 6) Encontrar los indices que no sean cero en un arreglo


import numpy as np
arreglo = [1,2,0,0,4,0]
indice_no_zero = np.nonzero(arreglo)
indice_no_zero

(array([0, 1, 4]),)

In [6]:
## 7) Crear una matriz de identidad 3 x 3 
matriz_identidad = np.eye(3)
matriz_identidad

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
## 8) Crear una matriz 3 x 3 x 3 con valores randomicos
matriz_random = np.random.random((3,3,3))
matriz_random

array([[[0.92813364, 0.38750658, 0.71395788],
        [0.96557691, 0.17445733, 0.96020889],
        [0.43033667, 0.68320302, 0.9164907 ]],

       [[0.53992034, 0.95305918, 0.80115629],
        [0.15311403, 0.63945313, 0.61762308],
        [0.31841405, 0.55154834, 0.41208104]],

       [[0.09376399, 0.12758653, 0.2569705 ],
        [0.62406194, 0.74571007, 0.61891829],
        [0.98535777, 0.58240239, 0.23716857]]])

In [9]:
## 9) Crear una matriz 10 x 10 y encontrar el mayor y el menor

matriz_diez_diez = np.random.randint(100, size=(10, 10))
print(matriz_diez_diez)
print(f'\nEl valor mayor: {matriz_diez_diez.max()}')
print(f'\nEl valor menor: {matriz_diez_diez.min()}')

[[57 84 66 80 36 27 71 51 51  5]
 [ 4 23 78  5  2 92 93 34 90 75]
 [80 32  6 74 81  8 27  5 31 87]
 [75 27 66 41  3 81 47  1 70  8]
 [ 7  5 94 95 91  7 28 42 88  4]
 [ 7 61 65  3 36 99 80 67 69 98]
 [ 8  2 79  0 62 20 99 75 94 10]
 [34 36  0 12 46 58 60  3  4 71]
 [28 62  4 64 59 70 31 71 29 54]
 [64 92 78 41 14 74 45 68 44 27]]

El valor mayor: 99

El valor menor: 0

In [14]:
## 10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

from scipy import ndimage
from scipy import misc

img = misc.face()
colores = np.unique(img.reshape(img.shape[0] * img.shape[1], img.shape[2]), axis=0)
print(colores)
print(colores.shape)
print(f'--> {colores.shape[1]} colores')

[0 0 7]
(134105, 3)
--> 3 colores

In [19]:
## 11) ¿Como crear una serie de una lista, diccionario o arreglo?
import pandas as pd
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serie_lista = pd.Series(mylist)
serie_diccionario = pd.Series(mydict)
serie_arreglo = pd.Series(myarr)

print("\nLista\n",serie_lista,"\nDiccionario\n",serie_diccionario,"\nArreglo\n",serie_arreglo)

Lista
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
Diccionario
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64
Arreglo
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [22]:
## 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict) 
# Transformar la serie en dataframe y hacer una columna indice

dataframe = pd.DataFrame(ser)
dataframe.index = dataframe[0]
dataframe

     0
0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19
20  20
21  21
22  22
23  23
24  24
25  25

In [23]:
## 13) ¿Como combinar varias series para hacer un DataFrame?

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

dataframe = pd.DataFrame({'A': ser1, 'B': ser2})
dataframe

    A   B
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [28]:
## 14) ¿Como obtener los items que esten en una serie A y no en una serie B?


ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

items_a_no_b = ser1[~ser1.isin(ser2)]
items_a_no_b

0    1
1    2
2    3
dtype: int64

In [29]:
## 15) ¿Como obtener los items que no son comunes en una serie A y serie B?

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

items_a_no_b = ser1[~ser1.isin(ser2)]
items_b_no_a = ser2[~ser2.isin(ser1)]
items_no_a_b = np.append(items_a_no_b, items_b_no_a)
items_no_a_b

array([1, 2, 3, 6, 7, 8])

In [33]:
## 16) ¿Como obtener el numero de veces que se repite un valor en una serie?

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

a    5
e    5
d    4
h    4
g    4
b    4
f    3
c    1
dtype: int64

In [41]:
## 17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser.value_counts()
ser[~ser.isin(ser.value_counts().index[:2])] = 0
ser

0     2
1     2
2     3
3     2
4     0
5     0
6     0
7     3
8     3
9     3
10    2
11    2
dtype: int64

In [44]:
## 18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un `shape` definido?

ser = pd.Series(np.random.randint(1, 10, 35))
shape=(7,5)
dataframe = pd.DataFrame(ser.values.reshape(shape))
dataframe

   0  1  2  3  4
0  5  1  7  5  9
1  4  5  3  2  7
2  9  7  1  1  5
3  7  4  3  5  5
4  4  3  9  4  1
5  2  9  7  3  3
6  6  3  7  6  9

In [46]:
## 19) ¿Obtener los valores de una serie conociendo la posicion por indice?

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u
valores = ser[pos]
valores

0     a
4     e
8     i
14    o
20    u
dtype: object

In [63]:
## 20) ¿Como anadir series vertical u horizontalmente a un DataFrame?

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

dataframe = pd.DataFrame(pd.concat([ser1, ser2], axis=1))
print("vertical")
print(dataframe)
dataframe2 = dataframe.append(pd.DataFrame(pd.concat([ser1, ser2], axis=1)))
print("Horizontal")
print(dataframe2)

vertical
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
Horizontal
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [77]:
## 21)¿Obtener la media de una serie agrupada por otra serie?

# `groupby` tambien esta disponible en series.


frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64

media = pesos.groupby(frutas).mean()
media

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'banana', 'zanahoria', 'banana', 'manzana', 'zanahoria', 'banana', 'zanahoria', 'zanahoria', 'zanahoria']

banana       4.333333
manzana      3.000000
zanahoria    7.200000
dtype: float64

In [65]:
## 22)¿Como importar solo columnas especificas de un archivo csv?

https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv.

SyntaxError: invalid syntax (<ipython-input-65-bca3483a8403>, line 3)